*{
    margin: 0;
    padding: 0; 
    box-sizing:border-box;
    background-color:rgb(19, 17, 35);
    color: aliceblue;
}

img:hover{
    cursor: pointer;
}
nav{
    margin-top:20px;
    margin-right:20px;
}

nav ul{
    display:flex;
    flex-direction: row; 
    justify-content:right;
    align-items: center;
    gap: 20px;
    color: aliceblue;
}

nav ul li{
    list-style-type: none;
    font-size: 20px;
    cursor: pointer;
}

img[alt="menu"]{
    width: 20px;
    margin-left:20px;
    display: none;
}

.home{
    background: rgb(100, 100, 224);
    border-radius: 20px;
    padding: 5px 10px;
}

.hero{
    max-width: 100vw;
    margin: 20px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.hero{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 30px;
}

.hero-line1{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    font-size: 30px;
}
.hand{
    /* width:50px; */
    height:50px;
}

.hero-line2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.hero-line2 h1{
    font-size: 70px;
}

.hero-line2 h2{
    font-size:50px;
    color:rgb(223, 207, 60);
}

.pc{
    width:30vw;
}

.projects{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projects div h1{
    font-size: 40px;
}
.line1{
    height: 10px;
    width: 135px;
    background-color: blue;
    border-radius: 20px;
    margin-bottom: 20px;
}

.project-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px; 
}

img[alt="project-image"]{
    width: 20vw;
}
.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact{
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.contact div h1{
    font-size: 40px;
}

.line2{
    height: 10px;
    width: 200px;
    background-color: blue;
    border-radius: 20px;
    margin-bottom: 20px;
}

.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

img[alt="social"]{
    width: 30px;
}

@media screen and (max-width: 576px){
    nav ul{
        display: none;
    }

    img[alt="menu"]{
        display:block;
    }

    .hero{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }

    .hero-line1{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .hero-line1 h2{
        font-size: 23px;
    }

    .hero-line2 h1{
        font-size: 40px;
    }

    .hero-line2 h2{
        font-size: 26px;
        text-align:center;
    }

    img[alt="pc"]{
        margin-top: 10px;
        width:60vw;
    }

    .project-list{
        display: grid;
        grid-template-columns: 1fr;
        
    }

    img[alt="project-image"]{
        width:55vw;
    }

    .projects div h1{
        font-size: 35px;
    }
    .line1{
        width: 125px;  
    }
    .contact div h1{
        font-size: 35px;
    }
    .line2{
        width: 175px;  
    }
}